
.jsx-section{
    display: flex;
    width: 100%;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
}



.on-board{
    min-width: 150px;
    max-width: 200px;
}

.on-board-2{
    min-width: 150px;
    max-width: 300px;
}

/* @container screen and (max-width:480px){
    .board{
        flex-flow: column;
    }
} */


.shadow {
    margin: 0;
    padding: 0rem;
    background-color:  #f0f0f0;
  }


.board{
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: row;
    width: 100%;
    flex-wrap: wrap;
    /* container-type: inline-size; */
}


.card{
    padding: 20px;
    margin: 10px;
    width: 100%;
    font-weight: bold;
}




/* @container screen and (max-width:480px){
    .board{
        flex-flow: column;
    }
} */

.col {
    --ifm-col-width: 100%;
    flex: 1 0;
    margin-left: 0;
    max-width: var(--ifm-col-width)

}


.col[class*=col--] {
    flex: 0 0 var(--ifm-col-width)
}


.col--6 {
    --ifm-col-width: 50%
}

.col--offset-6 {
    margin-left: 50%
}

.margin-bottom--lg {
    margin-bottom: 2rem!important
}


.margin-top--lg{
    margin-top: 2rem!important
}


.section {
    background-color: #E8E8E8;
    width: 30%;
    border-radius: 10px;
  
  }

  a
{
    color: #19623a;
}

a:hover
  {
    color:  green;
    text-decoration: none;
}
